/*
html {
   height: 100%;
   margin: 0px;
   padding: 0px;
   border: 0px;
}
*/

body {
 /*
   height: 100%;
   border: 0px;
 */
    margin: 0px; /* otherwise body defaults to 4px border */
    padding: 0px; /* Avoid vertical scrollbar with 100% height (?) */
}

html, body, #map {
    height: 100%;
}

/* Popup "More Info" button */
.more-info-div {
    text-align: center;
    padding-top: 4px;
}
.more-info-div > button {
    border-radius:1em;
    font-size: 1em;
    box-shadow: none;
    background-color: #eee;
    border: 1px solid grey;
}
    
/* Left Sidebar (Information Pane) */

/* Organisation logos (in Introduction) */
.org-logos {
    padding-left: 20px;
}

/* Photos within info pane */
.info-photo {
    margin: 5px;
    border: 1px solid;
}

/* Site Selection button (to open right sidebar)*/
.leaflet-button-sitelist {
  text-indent: -9999px;
  white-space: nowrap;
  background-image: url('../img/Incredible-Edible-26x26.png');
  width: 26px;
  height: 26px;
  display: block;
}

.designer-tag {
    font-style: italic;
}

/* Right Sidebar (Site Selection) */
.intro-button-para {
    padding-left: 55px;
}
.intro-button-para > button {
    padding: 0.3em;
    border-radius:0.8em;
    font-size: 1.1em;
    box-shadow: none;
    background-color: #eee;
    border: 1px solid grey;
}
#intro-button:hover {
    background: #ddd;
}
.trail-image-right {
    width: 240px;
    border:0;
}

.leaflet-sidebar.right {
    width: auto;
}

#sidebarR {
    padding: 10px;
}

.site-button {
    width: 240px;
}
.site-button:hover {
    background: #cceecc;
}