/* Ensure we fill the screen */
body {
    height: 100%;
    margin: 0;   /* otherwise body defaults to 4px border and adds scrollbar */
}
html, #map {
    height: 100%;
}

/* Fix for Firefox (avoids dotted outlines on controls) */
a {
    outline: 0;
}

/* Popup "More Info" button */
.more-info-div {
    text-align: center;
    padding-top: 4px;
}
.more-info-div > button {
    border-radius: 1em;
    font-size: 1em;
    box-shadow: none;
    background-color: #eee;
    border: 1px solid grey;
}
    
/**** Left Sidebar (Information Pane) *****/

.info-pane-banner {
    border: 0;
    width: 82%;
    margin: 0;
}

#info-pane-title {
     margin: 0;
}

/* Get started button in Intro */
.get-started {
    text-align: center;
}
.get-started > button {
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 1em;
    font-size: 1.0em;
    /*box-shadow: 0 0 15px #ab4;*/
    background-color: #cfa;
    border: 2px solid #6a6;
}
    
/* Organisation logos (in Introduction) */
.org-logos {
    padding-left: 15px;
}
.org-logo-images {
    border: 1px solid #ccc;
    padding: 2px;
}
.org-logo-images:hover {
  background-color: #dedede;
}
.designer-tag {
    font-style: italic;
}

#sidebarL > div > p {
    margin-top: 8px;
    margin-bottom: 8px;
}
#sidebarL > div > ul {
    padding-left: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.twitter-timeline {
    border: 1px solid #ccc;
    padding: 6px;
    margin-left: 15px;
    font-weight: bold;
    text-decoration: none;
}

/* Items in map key */
.key-icon {
    width: 16px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
}
.key-button {
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

/* All photos within info pane */
.info-photo {
    margin: 5px;
    border: 1px solid;
    float: right;
    height: 120px;
}

/**** Right Sidebar (Site Selection) ****/

/* Site Selection button (to open right sidebar) */
/* - added complexity for non-standard button size (to match layers button) */
.leaflet-button-sitelist {
  text-indent: -9999px;
  white-space: nowrap;
  background-image: url('../favicon.ico');
  display: block;
}
.leaflet-button-intro {
    text-indent: -9999px;
    white-space: nowrap;
    background-image: url('../img/info.png');
    display: block;
}
.leaflet-button-sitelist a {
  width: 36px;
  height: 36px;
}
a.leaflet-button-sitelist:hover {
  width: 36px;
  height: 36px;
}
.leaflet-retina .leaflet-button-sitelist a {
  width: 44px;
  height: 44px; 
}

.leaflet-sidebar.right {
    width: auto;
}
.leaflet-sidebar.right.visible ~ .leaflet-right {
        right: 265px;
}

#sidebarR {
    padding: 10px;
}
#sidebarR h4 {
    margin-bottom: 5px;
}
#sidebarR p {
    margin-bottom: 7px;
    margin-top: 7px;
}

.trail-image-right {
    width: 200px;
    border: 0;
    /*margin:0*/
}

/* Buttons for each garden site */
.site-button {
    width: 240px;
}
.site-button:hover {
    background: #cceecc;
}
