/*
html {
   height: 100%;
   margin: 0px;
   padding: 0px;
   border: 0px;
}
*/

body {
 /*
   height: 100%;
   border: 0px;
 */
    margin: 0px; /* otherwise body defaults to 4px border */
    padding: 0px; /* Avoid vertical scrollbar with 100% height (?) */
}

html, body, #map {
    height: 100%;
}

/* Moto G Resolution: 720 x 1280 pixels, but pretends width is half this */
/* Nexus 7 2013 resolution: 1920 x 1200, but pretends width is half this */
/*@media (max-width: 359px) {
    .map-popup {
        width: 50px;
    }
}*/
